%hr
%p
  %em
    Please
    = succeed "." do
      = [twitter_share_link("share", resource), twitter_reply_link("reply to comment", resource), twitter_retweet_link("retweet", resource)].compact.to_sentence(last_word_connector: ", or ", two_words_connector: " or ")
    Also
    = twitter_follow_link("follow me")
    for more.
%hr
= twitter_share_button(resource)
= twitter_follow_button
%br
= gplus_share_button(resource)
= gplus_follow_button
