%hr
= twitter_share(resource)
= twitter_follow
%br
= gplus_share(resource)
= gplus_follow
%p
  %em
    Please share to comment, or
    = link_to "follow me", "https://twitter.com/#{data.site.twitter}"
    for more.
