!!!
%html
  %head
    %meta{ charset: "utf-8" }
    - title = current_page.data.title || yield_content(:title)
    - title_default = [data.site.name, data.site.summary].join(": ")
    = meta_tag "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"
    = meta_tag "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"
    = meta_tag author,                                  name: "author"

    = meta_tag description.truncate(200),               name: "description"
    = meta_tag title || title_default,                  name: "og:title"
    = meta_tag description.truncate(200),               name: "og:description"
    = meta_tag data.site.name,                          name: "og:site_name"
    - body_images.each_with_index do |url, i|
      = meta_tag url,                                   name: "og:image"
      = meta_tag url,                                   name: "twitter:image" if i == 0
    = meta_tag "@#{data.site.twitter}",                 name: "twitter:site"
    = meta_tag "@#{data.site.twitter}",                 name: "twitter:creator"
    - if is_blog_article?
      = meta_tag "article",                             name: "og:type"
      = meta_tag current_page.date.to_time.iso8601,     name: "article:published_time"
      - current_page.tags.each do |tag|
        = meta_tag tag,                                 name: "article:tag"
      = meta_tag current_page.tags.join(","),           name: "keywords"
      = meta_tag "summary_large_image",                 name: "twitter:card"
    - else
      = meta_tag "website",                             name: "og:type"
      = meta_tag "summary",                             name: "twitter:card"

    %title= title.present? ? [title, data.site.name].compact.join(" - ") : title_default
    = feed_tag :atom, data.site.feed_url, title: "#{data.site.name} Blog Posts"
    = favicon_tag "/favicon.ico", type: "image/x-icon"
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    = stylesheet_link_tag "all"

    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"
  %body{ class: page_classes }
    #background
    #photo= image_tag "ryan.mcgeary.png"
    %header#masthead{ role: "banner", data: { spy: "affix", offset: { top: "15" } } }
      %p.sr-only= link_to data.site.name, "/", rel: "home"
      .sm-controls
        = link_to "#", class: "btn", data: { toggle: "class", target: "#sidebar, #background, #photo, #masthead .logo", class: "expand" } do
          %i.fa.fa-bars.fa-2x
      .logo= link_to data.site.name, "/"

    %section#sidebar
      .container
        %aside
          :markdown
            ## About Me

            [Ryan McGeary](/) is a software consultant, business starter,
            rubyist, web guru, CrossFit enthusiast, and amateur
            triathlete. Ryan owns [McGeary Consulting
            Group](http://mcgearygroup.com) and is the founder of
            [BusyConf](http://busyconf.com) and
            [ChargeStack](http://chargestack.com). He lives near Boulder,
            Colorado.

            #{twitter_follow_link("Follow me")}, [view my
            résumé](https://www.linkedin.com/in/ryanmcgeary), or
            [subscribe](#{data.site.feed_url}).

        %nav
          %h2= link_to "Recent", "/blog/"
          %ul.list-unstyled
            - blog.articles[0..5].each do |article|
              %li
                = link_to article.title, article

          %h2= link_to "Topics", "/blog/"
          %ul.list-unstyled
            - blog.tags.each do |tag, articles|
              %li
                = link_to tag, tag_path(tag)
                -# %small (#{articles.size})

          %h2= link_to "Archive", "/blog/"
          %ul.list-unstyled
            - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
              %li
                = link_to year, blog_year_path(year)
                -# (#{articles.size})

        %aside
          %h2= link_to "RSS", data.site.feed_url

        %footer
          Copyright &copy; #{Time.now.year}
          %br
          = data.site.name
          %br
          All rights reserved.


      %footer
    .content-wrapper
      %section#content
        .container= yield
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
    = javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
    = javascript_include_tag "all"
    = google_analytics_universal_tag
    = javascript_include_tag "https://apis.google.com/js/platform.js", async: true, defer: true
