---
layout: post
pageable: true
per_page: 100
priority: 0.3
---
<% content_for(:title) do %>
<% if page_type == "tag" %>
  <%= tagname.capitalize %><% unless tagname.pluralize == tagname %> Articles<% end %>
<% else %>
  All Articles
<% end %>
<% end %>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<dl class="dl-horizontal">
  <% page_articles.each_with_index do |article, i| %>
    <dt class="text-muted"><%= time_tag(article.date) %></dt><dd><%= link_to article.title, article %></dd>
  <% end %>
</dl>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
