---
pageable: true
priority: 0.7
---
<% if paginate && num_pages > 1 %>
  <% if page_number > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
  <% end %>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article>
    <h1>
      <%= link_to article.title, article %>
      <small class="text-nowrap"><%= article.date.strftime('%b %e, %Y') %></small>
    </h1>
    <%# use article.summary(250) if you have Nokogiri available to show just
        the first 250 characters %>
    <%= article.body %>
  </article>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
